
@{
    ViewBag.Title = "Gestionar Informacion de Tracks";
}



<div class="panel panel-default">
    <div class="panel-body">

        @using (Ajax.BeginForm("ObtenerTrack",
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "resultadoId",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "imgLoader"
            }

            ))
        {
              <div class="form-inline">
                  <div class="form-group">
                      <label for="trackName">Nombre Track:</label>
                      <input type="text" class="form-control"
                             id="trackName"
                             name="trackName"
                             placeholder="Buscar por Track"
                             autocomplete="off">

                  </div>

                  <div class="form-group">
                      <label for="genero">Genero:</label>
                      <select id="genero"
                              name="genero" class="form-control">
                          <option value="0">Todos</option>

                          @foreach (var item in ViewBag.Generos)
                          {
                              <option value="@item.GenreId">@item.Name</option>
                          }


                      </select>
                  </div>

                  <button type="submit" class="btn btn-danger">Buscar</button>
                  <a href="@Url.Action("Nuevo")"
                     class="btn btn-success">Nuevo</a>
              </div>
        }


        <br />
        <div id="resultadoId">

        </div>


    </div>
</div>

