@model IEnumerable<App.Entities.Base.Artist>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ArtistId</td>
                <td>@item.Name</td>
                <td>
                    <a href="@Url.Action("Edit",new {id=item.ArtistId })">Editar</a>

                </td>
            </tr>
        }
    </tbody>
</table>